<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">About Us</h1>


        <div class="content has-text-centered">
            <p>Welcome to our burger ordering service. We're dedicated to providing you with the best burger experience,
                no matter where you are. Our burgers are made from 100% locally sourced ingredients, and we're committed
                to serving you quickly and efficiently.</p>

            <p>But we don't stop at just making delicious burgers. Our delivery team, lovingly named our "Space
                Monkeys", are well-trained in ensuring that your orders get to you in record time. No more waiting for
                hours for a cold burger; with us, you get your order hot and fast!</p>

            <p>Try us today and join the many satisfied customers who can't get enough of our service!</p>
        <figure class="image container is-4by3" style="margin-bottom: 2em;">
            <img src="/images/others/delivery.jpg" alt="Space Monkey Delivery">
        </figure>
        </div>
    </div>
</section>