<h1>Browse Page</h1>
{{!-- <ul>
    {{#each restaurants}}
    <li>{{this}}</li>
    {{/each}}
</ul> --}}

<div class="columns">
    <div class="column">
        First column
    </div>
    <div class="column">
        Second column
    </div>
    <div class="column">
        Third column
    </div>
    <div class="column">
        Fourth column
    </div>
</div>