<div class="container">
  <section class="section">
    <div id="developerAdjustment"class="columns is-multiline">
      
      {{!-- Developer 1 --}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/developers/profdusty.jpg" alt="dustin profile picture">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Dustin II</p>
              </div>
            </div>
            <div class="content">
              An experienced full-stack developer with a passion for JavaScript.
              <br>
              <a href="https://github.com/dustinii" target="_blank">Github</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Developer 2 --}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/developers/profpaul.jpg" alt="paul profile picture">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Paul</p>
              </div>
            </div>
            <div class="content">
              A dedicated developer specializing in backend technologies.
              <br>
              <a href="https://github.com/dustinii" target="_blank">Github</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Developer 3 --}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/developers/profjoc.jpg" alt="jocelyn profile picture">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Jocelyn</p>
              </div>
            </div>
            <div class="content">
              Front-end guru with a knack for eye-catching UI design.
              <br>
              <a href="https://github.com/jovaldez98" target="_blank">Github</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Developer 4 --}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/developers/profsam.jpg" alt="sam profile picture">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Sam</p>
              </div>
            </div>
            <div class="content">
              Versatile full-stack developer with a love for problem-solving.
              <br>
              <a href="https://github.com/sammrey6" target="_blank">Github</a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Developer 5 --}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="/images/developers/profbrian.png" alt="brian profile picture">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Brian</p>
              </div>
            </div>
            <div class="content">
              Back-end specialist with a focus on database efficiency.
              <br>
              <a href="https://github.com/Brian-Autieri" target="_blank">Github</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
</div>

{{!-- <section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Our Amazing Developers</h1>

    <div class="columns is-multiline">
      {{#each developers as |developer|}}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{developer.image}}" alt="{{developer.name}}'s Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{developer.name}}</p>
              </div>
            </div>
            <div class="content">
              <a href="{{developer.github}}" target="_blank">
                <i class="fab fa-github"></i> GitHub Profile
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</section> --}}