<div class="homepage-hero-boudle">
    <h1 class="title is-1 has-text-centered">Welcome to BDSM</h1>
    <img src="/images/hero.png" alt="herobanner">
    <h1 class="title is-1 has-text-centered">Buy our merch!</h1>
    <img src="/images/merch.png" alt="merch">
</div>