<h1>
  This is the login/signup page.
</h1>

<h2>Login</h2>

<form class="login-form">
  <label for="email-login">email:</label>
  <input type="text" id="email-login" />

  <label for="password-login">password:</label>
  <input type="password" id="password-login" />

  <button type="submit">login</button>
</form>

<h2>Signup</h2>

<form class="signup-form">
  <label for="name-signup">name:</label>
  <input type="text" id="name-signup" />

  <label for="email-signup">email:</label>
  <input type="text" id="email-signup" />

  <label for="password-signup">password:</label>
  <input type="password" id="password-signup" />

  <button type="submit">signup</button>
</form>



<script src="./js/login.js"></script>