<section class="section">
  <div class="container">
    <h1 class="title">
      This is the login/signup page.
    </h1>

    <h2 class="subtitle">Login</h2>

    <form class="login-form">
      <div class="field">
        <label class="label" for="email-login">Email:</label>
        <div class="control">
          <input class="input" type="text" id="email-login" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="password-login">Password:</label>
        <div class="control">
          <input class="input" type="password" id="password-login" />
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" type="submit">Login</button>
      </div>
    </form>

    <h2 class="subtitle">Signup</h2>

    <form class="signup-form">
      <div class="field">
        <label class="label" for="name-signup">Name:</label>
        <div class="control">
          <input class="input" type="text" id="name-signup" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="email-signup">Email:</label>
        <div class="control">
          <input class="input" type="text" id="email-signup" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="password-signup">Password:</label>
        <div class="control">
          <input class="input" type="password" id="password-signup" />
        </div>
      </div>

      <div class="control">
        <button class="button is-primary" type="submit">Signup</button>
      </div>
    </form>

  </div>
</section>

<script src="./js/login.js"></script>
