<script id="qrCode-template" type="text/x-handlebars-template">
  <div id="qrcode-container"></div>
  <script>
    var qrCodeContainer = document.getElementById("qrcode-container");
    qrCodeContainer.innerHTML = "";

    var qrCode = new QRCode(qrCodeContainer, {
      text: "{{url}}",
      width: 128,
      height: 128
    });
  </script>
</script>
