<h1 class="title has-text-centered">Check out the Amazing Reviews</h1>
<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      {{#each reviews as |review|}}
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{review.burger.name}}</p>
              </div>
            </div>
            <div class="content">
              <p>{{review.reviewDetails}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <aside class="container" class="container-is primary is-pulled-right ">
      <h2>Give us your feedback</h2>
      <div class="field">
        <h3>Which buger?</h3>
        <label class="label" for="burger">Burger</label>
        <div class="control">
          <select id="burger_id">
            {{#each burgers as |burger|}}
            <option value="{{burger.id}}">{{burger.name}}</option>
            {{/each}}
          </select>
        </div>
        <label class="label" for="review">Review</label>
        <div class="control">
          <input class="input" type="review" id="reviewDetails" name="review" required>
        </div>
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
    </aside>
</section>

<script src="/js/addReview.js">

</script>