<h1 class="title has-text-centered toptitle">Select your Space Monkey</h1>

<div class="columns">
    {{#each spacemonkeys as |spacemonkey|}}
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by4">
                    <img src="{{spacemonkey.image}}" alt="SpaceMonkey image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{spacemonkey.name}}</p>
                    </div>
                </div>

                <div class="content">
                    {{spacemonkey.bio}}
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    <button data-id="{{spacemonkey.id}}" class="button is-primary is-light select-monkey-button">
                        <i class="fa-regular fa-monkey"></i>Select</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/selectMonkey.js"></script>