<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <h1 class="title">Sign Up</h1>
        <form class="signup-form">
          <div class="field">
            <label class="label" for="name">Name</label>
            <div class="control">
              <input class="input" type="text" id="name-signup" name="name" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
              <input class="input" type="email" id="email-signup" name="email" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="password">Password</label>
            <div class="control">
              <input class="input" type="password" id="password-signup" name="password" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link">Sign Up</button>
            </div>
          </div>
        </form>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
      </div>
      <div class="column is-8">
        <figure class="image">
          <img src="/images/others/billboard.png" alt="signup image">
        </figure>
      </div>
    </div>
  </div>
</section>
<script src="/js/login.js"></script>