/* USE THIS TO HELP VISUALIZE DIVS */
/* * {
	outline: red dashed 2px;
} */

body {
	background: linear-gradient(to top, #f5f5f5, #363636);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.about {
	color: white
}

.toptitle {
	color: white;
}

.navbar::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, white, #363636);
}

.homepage-hero-boudle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-fixed-height {
	height: 550px;
	display: flex;
	flex-direction: column;
}

.card-footer {
	justify-content: center;
	align-items: center;
}

.burger-fixed-height {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-image:hover {
	border: 4px solid #213a5c;
	transform: scale(1.3);
	/* Increase the scale on hover */
	transition: transform 0.3s ease;
	/* Add a smooth transition effect */
	cursor: default;
	z-index: 1;
}

.homepage-hero-boudle h1 {
	margin: 25px;
	padding: 0 25px;
	border-radius: 25px;
	border-color: #363636;
	color: whitesmoke;
}

.welcomeimage {
	border-radius: 50%;
}

.welcomeimage1 {
	border-radius: 0%;
}

.custom-footer {
	background-color: #363636;
	color: white;
	margin-top: 2rem;
}

#developerAdjustment {
	margin-top: 50px;
}

#welcomepage {
	padding: 10px 25px;
}

#burgerlogoimage {
	max-height: 3.5rem;
}