/* USE THIS TO HELP VISUALIZE DIVS */
/* * {
	outline: red dashed 2px;
} */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.homepage-hero-boudle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.card-image:hover {
	border: 4px solid #213a5c;
	transform: scale(2);
	/* Increase the scale on hover */
	transition: transform 0.3s ease;
	/* Add a smooth transition effect */
	cursor: pointer;
	z-index: 1;
}

.homepage-hero-boudle h1 {
	margin: 25px;
	padding: 0 25px;
	/* border-style: dashed; */
	border-radius: 25px;
	border-color: #363636;
	color: black;
}

.welcomeimage {
	border-radius: 50%;
}

.welcomeimage1 {
	border-radius: 0%;
}

.custom-footer {
	background-color: #363636;
	color: white;
	margin-top: 2rem;
}

#developerAdjustment {
	margin-top: 50px; 
}
#welcomepage {
	padding: 10px 25px;
}

#burgerlogoimage {
	max-height: 3.5rem;
}