/* USE THIS TO HELP VISUALIZE DIVS */
/* * {
	outline: red dashed 2px;
} */

.homepage-hero-boudle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.custom-footer {
	background-color: #363636;
	color: white;
	margin-top: 2rem;
}

#burgerlogoimage {
	max-height: 3.5rem;
}